*{
    margin: 0;
    box-sizing: content-box;
    }
    .contents{
    margin: 0 auto;
    width: 450px;
    }
    .top{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
    margin: 0 auto;
    }
    .name{
    align-self: center;
    font-weight: bold;
    font-size: 3vw;
    color: #00c04b;
    }
    #error{
    color: red;
    font-style: italic;
    font-size: 1.5vw;
    padding-top: 20px;
    }
    .details{
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    }
    input{
    margin: 7px;
    height: 35px;
    background-color: #d3d3d3;
    border: none;
    }
    #data{
    float: left;
    }
    .btns{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 45px;
    }
    a{
    color: #FF0000;
    text-decoration: none;
    }
    #sbmt{
    height: 25px;
    background-color: #0000cd;
    color: #fff;
    /* disabled: true; */
    }
    .fields{
    margin: 10px auto;
    padding: 40px 5px 30px 10px;
    }

    #cancel{
    background-color: #E56B6B;
    color:white;
    font-size: 18px;
    }

    button{
    border: none;
    }

    input[type=checkbox]{
    height: unset;
    margin-right: 15px;
    }
    #det{
    color: #939393;
    }
    
    .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 25px;
    margin: 25px;
    }
    .sign{
    text-align: center;
    margin-bottom: 50px;
    }
    hr{
    width: 60%;
    margin: 0 auto;
    }
    .forgot.p{
    align-self: flex-end;
    font-size: 15px;
    color: #939393;
    }
    